@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #141414;
  --foreground: #fff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.embla {
  margin-inline: auto;
}

.embla__viewport {
  overflow-x: hidden;
}

.embla__container {
  display: flex;
  align-items: center;
  touch-action: pan-y pinch-zoom;
}

.embla__slide {
  /* 
  480px = 30rem
  520px = 32.5rem
   */

  flex: 0 0 60%;
  min-width: 0;
}

@media (min-width: 50em) {
  .embla__slide {
    /* 
    480px = 30rem
    520px = 32.5rem
     */

    flex: 0 0 33%;
    min-width: 0;
  }
}